.header p{
  text-align: center;
}
.header{
  border-radius: 25px;
  border: 2px solid black;
  margin: 10px 5px ;
}
.list {
  border: 2px  sol;
  border-radius: 25px;
  margin: 10px 500px;
  padding: 10px 30px;
 
}
input{
  width: 600px;
  padding: 10px  ;
  margin:0px 100px
}
.list{
  display: flex;
  flex-direction: column;
  background-color: bisque;

}
li{
  margin: 8px ;
}
button{
  padding: 4px 40px;
}
.strike{
  text-decoration: line-through;
  color: grey;
}
